In [19]:
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import pyplot as plt
import pandas as pd
import seaborn as sns

In [9]:
import  mysql.connector as sql

ModuleNotFoundError: No module named 'mysql'

In [7]:
from dotenv import load_dotenv

In [8]:
dp = mysql.connector.connect(
    host='host',
    user='user',
    passwd='passwd'
)

NameError: name 'mysql' is not defined

In [5]:
plt.xlabel("Year")
plt.ylabel("Youtube Views")

plt.plot('Year')
plt.plot('Youtube Views')

plt.title("hhh")

plt.show()

NameError: name 'plt' is not defined